<div class="question_space">
  <h1>Please ask the coach a question?</h1>
  <p>Type your question inside the input box</p>

  <form action="/answer">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="search_term" placeholder="question input">
    <input type="submit" value="Go on!">
  </form>
</div>
